# Week 4 Peer Review

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [49]:
# Import the required packages
using Distributions, DataFrames, Random, StatsBase

In [50]:
# Seed the random number generator
Random.seed!(1234);

In [51]:
# Question 4: Create the 3 x 30 array named array_1
array_1 = [rand(Normal(0, 1), 30) rand(Normal(10, 2), 30) rand(5:15, 30)]

30×3 Array{Float64,2}:
  0.867347    7.44066  14.0
 -0.901744   11.9946   13.0
 -0.494479   10.6048   12.0
 -0.902914    9.92711   9.0
  0.864401   10.2839   15.0
  2.21188    11.0425   14.0
  0.532813   11.7935   15.0
 -0.271735    8.97294   9.0
  0.502334    8.4704    9.0
 -0.516984    6.91715   8.0
 -0.560501    9.83968  15.0
 -0.0192918   7.81756  14.0
  0.128064    8.83897  11.0
  ⋮
  0.0721164   7.98043  12.0
 -1.50343     8.91239  13.0
  1.56417     7.54655  14.0
 -1.39674     8.91657   5.0
  1.1055      8.62701   8.0
 -1.10673     8.57414   9.0
 -3.21136     9.34588   5.0
 -0.0740145  11.0297    9.0
  0.150976   14.8349   10.0
  0.769278    9.38405  14.0
 -0.310153   12.4906   15.0
 -0.602707    9.9001    7.0

In [52]:
# Question 5: Mean and variance of column 1
println("Column 1 mean: ", mean(array_1[:,1]), " variance: ", var(array_1[:,1]));

Column 1 mean: -0.061674963752526096 variance: 1.1790054448274625

In [53]:
# Question 5 (continued): Mean and variance of column 2
println("Column 2 mean: ", mean(array_1[:,2]), " variance: ", var(array_1[:,2]));

Column 2 mean: 9.580613055613338 variance: 2.948790077536739

In [54]:
# Question 5 (continued): Mean and variance of column 3
println("Column 3 mean: ", mean(array_1[:,3]), " variance: ", var(array_1[:,3]));

Column 3 mean: 11.0 variance: 11.724137931034482

In [55]:
# Question 6: Import array_1 into a DataFrame named df
df = DataFrame(array_1)

30×3 DataFrame
│ Row │ x1         │ x2      │ x3      │
│     │ Float64    │ Float64 │ Float64 │
├─────┼────────────┼─────────┼─────────┤
│ 1   │ 0.867347   │ 7.44066 │ 14.0    │
│ 2   │ -0.901744  │ 11.9946 │ 13.0    │
│ 3   │ -0.494479  │ 10.6048 │ 12.0    │
│ 4   │ -0.902914  │ 9.92711 │ 9.0     │
│ 5   │ 0.864401   │ 10.2839 │ 15.0    │
│ 6   │ 2.21188    │ 11.0425 │ 14.0    │
│ 7   │ 0.532813   │ 11.7935 │ 15.0    │
│ 8   │ -0.271735  │ 8.97294 │ 9.0     │
│ 9   │ 0.502334   │ 8.4704  │ 9.0     │
│ 10  │ -0.516984  │ 6.91715 │ 8.0     │
⋮
│ 20  │ -1.50343   │ 8.91239 │ 13.0    │
│ 21  │ 1.56417    │ 7.54655 │ 14.0    │
│ 22  │ -1.39674   │ 8.91657 │ 5.0     │
│ 23  │ 1.1055     │ 8.62701 │ 8.0     │
│ 24  │ -1.10673   │ 8.57414 │ 9.0     │
│ 25  │ -3.21136   │ 9.34588 │ 5.0     │
│ 26  │ -0.0740145 │ 11.0297 │ 9.0     │
│ 27  │ 0.150976   │ 14.8349 │ 10.0    │
│ 28  │ 0.769278   │ 9.38405 │ 14.0    │
│ 29  │ -0.310153  │ 12.4906 │ 15.0    │
│ 30  │ -0.602707  │ 9.9001  │ 7.0     │

In [56]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
rename!(df, Dict(:x1 => :Var1, :x2 => :Var2, :x3 => :Var3))

30×3 DataFrame
│ Row │ Var1       │ Var2    │ Var3    │
│     │ Float64    │ Float64 │ Float64 │
├─────┼────────────┼─────────┼─────────┤
│ 1   │ 0.867347   │ 7.44066 │ 14.0    │
│ 2   │ -0.901744  │ 11.9946 │ 13.0    │
│ 3   │ -0.494479  │ 10.6048 │ 12.0    │
│ 4   │ -0.902914  │ 9.92711 │ 9.0     │
│ 5   │ 0.864401   │ 10.2839 │ 15.0    │
│ 6   │ 2.21188    │ 11.0425 │ 14.0    │
│ 7   │ 0.532813   │ 11.7935 │ 15.0    │
│ 8   │ -0.271735  │ 8.97294 │ 9.0     │
│ 9   │ 0.502334   │ 8.4704  │ 9.0     │
│ 10  │ -0.516984  │ 6.91715 │ 8.0     │
⋮
│ 20  │ -1.50343   │ 8.91239 │ 13.0    │
│ 21  │ 1.56417    │ 7.54655 │ 14.0    │
│ 22  │ -1.39674   │ 8.91657 │ 5.0     │
│ 23  │ 1.1055     │ 8.62701 │ 8.0     │
│ 24  │ -1.10673   │ 8.57414 │ 9.0     │
│ 25  │ -3.21136   │ 9.34588 │ 5.0     │
│ 26  │ -0.0740145 │ 11.0297 │ 9.0     │
│ 27  │ 0.150976   │ 14.8349 │ 10.0    │
│ 28  │ 0.769278   │ 9.38405 │ 14.0    │
│ 29  │ -0.310153  │ 12.4906 │ 15.0    │
│ 30  │ -0.602707  │ 9.9001  │ 7.0     │

In [57]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df
df2 = df[11:30, :]

20×3 DataFrame
│ Row │ Var1       │ Var2    │ Var3    │
│     │ Float64    │ Float64 │ Float64 │
├─────┼────────────┼─────────┼─────────┤
│ 1   │ -0.560501  │ 9.83968 │ 15.0    │
│ 2   │ -0.0192918 │ 7.81756 │ 14.0    │
│ 3   │ 0.128064   │ 8.83897 │ 11.0    │
│ 4   │ 1.85278    │ 9.36913 │ 10.0    │
│ 5   │ -0.827763  │ 7.2771  │ 15.0    │
│ 6   │ 0.110096   │ 9.77109 │ 15.0    │
│ 7   │ -0.251176  │ 10.3317 │ 6.0     │
│ 8   │ 0.369714   │ 9.18312 │ 5.0     │
│ 9   │ 0.0721164  │ 7.98043 │ 12.0    │
│ 10  │ -1.50343   │ 8.91239 │ 13.0    │
│ 11  │ 1.56417    │ 7.54655 │ 14.0    │
│ 12  │ -1.39674   │ 8.91657 │ 5.0     │
│ 13  │ 1.1055     │ 8.62701 │ 8.0     │
│ 14  │ -1.10673   │ 8.57414 │ 9.0     │
│ 15  │ -3.21136   │ 9.34588 │ 5.0     │
│ 16  │ -0.0740145 │ 11.0297 │ 9.0     │
│ 17  │ 0.150976   │ 14.8349 │ 10.0    │
│ 18  │ 0.769278   │ 9.38405 │ 14.0    │
│ 19  │ -0.310153  │ 12.4906 │ 15.0    │
│ 20  │ -0.602707  │ 9.9001  │ 7.0     │

In [58]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

3×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min      │ median     │ max     │ nunique │
│     │ Symbol   │ Float64   │ Float64  │ Float64    │ Float64 │ Nothing │
├─────┼──────────┼───────────┼──────────┼────────────┼─────────┼─────────┤
│ 1   │ Var1     │ -0.187058 │ -3.21136 │ -0.0466532 │ 1.85278 │         │
│ 2   │ Var2     │ 9.49853   │ 7.2771   │ 9.2645     │ 14.8349 │         │
│ 3   │ Var3     │ 10.6      │ 5.0      │ 10.5       │ 15.0    │         │

In [59]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB
df2[:Cat1] = rand(["GroupA", "GroupB"], 20)

┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[59]:1
└ @ Core In[59]:1

20-element Array{String,1}:
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"

In [60]:
# Question 11: Create a new DataFrame named df3
df3 = DataFrame(A = 1:20, B = 21:40, C = 41:60)

20×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 21    │ 41    │
│ 2   │ 2     │ 22    │ 42    │
│ 3   │ 3     │ 23    │ 43    │
│ 4   │ 4     │ 24    │ 44    │
│ 5   │ 5     │ 25    │ 45    │
│ 6   │ 6     │ 26    │ 46    │
│ 7   │ 7     │ 27    │ 47    │
│ 8   │ 8     │ 28    │ 48    │
│ 9   │ 9     │ 29    │ 49    │
│ 10  │ 10    │ 30    │ 50    │
│ 11  │ 11    │ 31    │ 51    │
│ 12  │ 12    │ 32    │ 52    │
│ 13  │ 13    │ 33    │ 53    │
│ 14  │ 14    │ 34    │ 54    │
│ 15  │ 15    │ 35    │ 55    │
│ 16  │ 16    │ 36    │ 56    │
│ 17  │ 17    │ 37    │ 57    │
│ 18  │ 18    │ 38    │ 58    │
│ 19  │ 19    │ 39    │ 59    │
│ 20  │ 20    │ 40    │ 60    │

In [61]:
# Question 12: Change indicated values to empty entries
allowmissing!(df3);
df3[10, :A] = missing;
df3[15, :B] = missing;
df3[19, :C] = missing;
df3

20×3 DataFrame
│ Row │ A       │ B       │ C       │
│     │ Int64?  │ Int64?  │ Int64?  │
├─────┼─────────┼─────────┼─────────┤
│ 1   │ 1       │ 21      │ 41      │
│ 2   │ 2       │ 22      │ 42      │
│ 3   │ 3       │ 23      │ 43      │
│ 4   │ 4       │ 24      │ 44      │
│ 5   │ 5       │ 25      │ 45      │
│ 6   │ 6       │ 26      │ 46      │
│ 7   │ 7       │ 27      │ 47      │
│ 8   │ 8       │ 28      │ 48      │
│ 9   │ 9       │ 29      │ 49      │
│ 10  │ missing │ 30      │ 50      │
│ 11  │ 11      │ 31      │ 51      │
│ 12  │ 12      │ 32      │ 52      │
│ 13  │ 13      │ 33      │ 53      │
│ 14  │ 14      │ 34      │ 54      │
│ 15  │ 15      │ missing │ 55      │
│ 16  │ 16      │ 36      │ 56      │
│ 17  │ 17      │ 37      │ 57      │
│ 18  │ 18      │ 38      │ 58      │
│ 19  │ 19      │ 39      │ missing │
│ 20  │ 20      │ 40      │ 60      │

In [62]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values
df4 = df3;
for r in eachrow(df4)
    ismissing(r[:A]) && (r[:A] = 0)
end
for r in eachrow(df4)
    ismissing(r[:B]) && (r[:B] = 0)
end
for r in eachrow(df4)
    ismissing(r[:C]) && (r[:C] = 0)
end
df4

20×3 DataFrame
│ Row │ A      │ B      │ C      │
│     │ Int64? │ Int64? │ Int64? │
├─────┼────────┼────────┼────────┤
│ 1   │ 1      │ 21     │ 41     │
│ 2   │ 2      │ 22     │ 42     │
│ 3   │ 3      │ 23     │ 43     │
│ 4   │ 4      │ 24     │ 44     │
│ 5   │ 5      │ 25     │ 45     │
│ 6   │ 6      │ 26     │ 46     │
│ 7   │ 7      │ 27     │ 47     │
│ 8   │ 8      │ 28     │ 48     │
│ 9   │ 9      │ 29     │ 49     │
│ 10  │ 0      │ 30     │ 50     │
│ 11  │ 11     │ 31     │ 51     │
│ 12  │ 12     │ 32     │ 52     │
│ 13  │ 13     │ 33     │ 53     │
│ 14  │ 14     │ 34     │ 54     │
│ 15  │ 15     │ 0      │ 55     │
│ 16  │ 16     │ 36     │ 56     │
│ 17  │ 17     │ 37     │ 57     │
│ 18  │ 18     │ 38     │ 58     │
│ 19  │ 19     │ 39     │ 0      │
│ 20  │ 20     │ 40     │ 60     │